@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* index.html */
:root{
    --green:#333d30;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    background: #f4f2e9;
}


section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.3);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #f4f2e9;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#f4f2e9;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header1{
    background:#f4f2e9;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .header1 .logo i{
    color:var(--green);
}

.header .header1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#f4f2e9;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header1 .icons div,
.header .header1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header1 .icons div:hover,
.header .header1 .icons a:hover{
    color:var(--green);
}

.header .header2{
    background:var(--green);
}

.header .header2 .navbar{
    text-align: center;
}

.header .header2 .navbar a{
    color:#f4f2e9;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.home{
    background: #f4f2e9;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.home .row .content{
    flex:42rem;
}

.home .row .books-slider{
    flex:42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #f4f2e9;
    z-index: 1;
}

/* write_review_page.html */
.prologue-box{
    width: 70vw;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.prologue p{
    color: black;
    padding: 1rem 0rem 0rem 0rem;
    font-size: 15px;
}

.RV_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 150px
}

.rv_title{
  text-align: center;
  color: #f4f2e9;
  font-size: 30px
}
.container{
  margin-left: 15%;
  margin-right: 15%;
  width: 70vw;
  background: #333d30;
  border: 1px solid #333d30;
  border-radius: 5px;
  padding: 20px;
}

.container .text{
  font-size: 25px;
  color: #333d30;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #fdfcfc;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 2.5vw;
  color: #444;
  padding: 1vw;
  float: right;
  margin-right: 7vw;
  cursor: pointer;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}

form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #000000;
  border: 1px solid #efecec;
  background: #fdfcfc;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #000000;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #ffffff;
  outline: none;
  background: #333d30;
  color: #a3a3a3;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
form .btn button:hover{
  background: #f5f5f5;
}

.full-boxer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment-box{
    width: 50vw;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong{
    color: black;
    font-size: 18px;
    text-align: right;
}

.Name span{
    color: gray;
    margin-top: 2px;
}

.comment p{
    color: black;
    padding: 1rem 0rem 0rem 0rem;
    font-size: 15px;
}

/* view_my_reviews_page.html & view_my_reviews.html */

table {
  border: 1px solid black;
  font-size: 1.5rem;
  margin-left:auto;
  margin-right:auto;
  margin-top: 3rem;
}

td {
  border-collapse: collapse;
	border: 0.25px solid black;
	padding: 8px;
  height: 80px;
}

th {
  font-size: 2rem;
  font-weight: bolder;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
  tr[0].style.display = "none";
  cursor:pointer
}

.checked {
  color: #fd4;
}

.fa-star {
  font-size: 30px;
}


.mr_title {
  font-size: 30px;
  text-align: center;
}

/* Media Queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}